{% extends 'base.html %}

{% block title %}
<title>Change Password</title>
{% endblock title %}

{% block content %}
    {% if validlink %}
        <h1>Change Password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change password</button>
        </form>
    {% else %}
        <p>
            The password reset link is invalid, possibly because it has already
been used.  If you can't login, please request another reset.
        </p>
    {% endif %}
{% endblock %}
