{% extends 'base.html' %}
{% load form_field %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        {% autoescape off %}
        {% for field in user_form %}{% if field.name != 'captcha' %}
            {% ff field %}
        {% endif %}{% endfor %}
        {% for field in profile_form %}
            {% ff field %}
        {% endfor %}
        {% ff user_form.captcha %}
        {% endautoescape %}

        <button type="submit">Sign up</button>
    </form>
{% endblock content %}
